<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>CF Statistics</title>
</head>
<body class="bg-dark">
<div class="container">
    <button id="update-button" class="btn btn-primary" onclick="update_stat()">Update</button>
    <table class="table table-sm table-dark table-responsive">
        <thead>
        <tr>
            <th>User/Problem</th>
            {% for user in users %}
                <th>{{ user.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for problem in problems %}
            <tr>
                {% for col in problem %}
                    <td
                            {% if col == "R" %}
                                class="bg-warning"
                            {% elif col == "N" %}
                                class="bg-danger"
                            {% elif col == "T" %}
                                class="bg-info"
                            {% elif col == "S" %}
                                class="bg-success"
                            {% endif %}
                    >{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p class="d-none" id="update-url">{{ update_url }}</p>
</body>
<script>
    function update_stat() {
        const button = document.getElementById('update-button');
        button.disabled = true;
        button.innerText = 'Updating...';
        const url = document.getElementById('update-url').innerText;
        fetch(url)
            .then(response => response.status)
            .then(status => {
                if (status === 200) {
                    location.reload();
                } else {
                    alert('Update failed');
                }
            });
    }
</script>
</html>